<div class="jumbotron jumbotron-fluid">
  <h1 class="display-4">Wedding × management</h1>
  <p class="lead">～結婚式準備をTODOリスト化～</p>
</div>
<div class="explain">
  <h3 class='WDmanage'>WD manageとは</h3>
  <p>結婚式を控えるカップルや夫婦のためのタスク管理サービスです。</p>
  <%= image_tag 'explain.png' %>
</div>