<% if current_user.try(:admin?) %>
  <h1>Blogs_admin</h1>
<% else %> 
  <h2>ログイン後トップページ</h2>
<% end %>

<% @posts.each do |post| %>
  <div id="post_<%= post.id %>">
    <%= render 'post', post: post %>
  </div>

</table>
<% end %>
  <% if current_user.present? %>
    <%= link_to "お気に入り一覧", favorites_post_path(current_user.id) %>
    <%= link_to '新しく投稿する', new_post_path %>
  <% end %>