// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.comment_title {
  text-align: center;
  font-size: 20px;
  padding-top: 20px;
}

.comment_flame {
  width: 75%;
  margin: 10px auto;
  border: solid thin #a4abac;
  word-wrap: break-word;
}

.comment_content {
  padding-top: 20px;
  text-align: center;
}

.comment_form {
  width: 60%;
  margin: 0 auto;
}

.comment_user {
  text-align: right;
}

.comment_view {
  width: 60%;
  margin: 0 auto;
  border: 15px double #DFDCD3; 
}