// Place all the styles related to the favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.favorite-btn {
  font-size: 15px;
  color: #b8547d;
}
 
.notfavorite-btn {
  font-size: 15px;
  color: #b8547d;
}