// Place all the styles related to the pairs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/*newページ*/
.new_pair {
  width: 70%;
  margin: 40px auto;
  text-align: center;
}

/*editページ*/
.edit_pair {
  width: 70%;
  margin: 40px auto;
  text-align: center;
}

/*showページ*/
.tasks_list {
  width: 75%;
  margin: 0 auto;
}

.task_icon {
  border-radius: 100px;
}

.pair_infomation {
  width: 400px;
  height: 400px;
  margin: 30px auto;
  padding: 120px 0;
  text-align: center;
  border: solid #AFDFE4;
  color: gray;
  border-radius: 50%;
}

.first_user {
  display: inline-block;
}

.pair_count {
  margin: 20px 0;
  font-size: 20px;
}

.table{
  text-align: center;
}

.table>thead>tr>th {
  border: 1px solid #AFDFE4;
}

.table>tbody>tr>td {
  border: 1px solid #AFDFE4;
}
