// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.post_main {
  width: 80%;
  margin: 0 auto;
  padding: 30px 0;
}

.wrapper {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 375px);
  gap: 10px;
}

.post_list {
  border: 10px solid #B3D0D7;
}

.post_user_icon {
  float: right;
}

.post_user {
  text-decoration: none;
  color:gray;
}

.post_user:hover {
  border-bottom:1px solid #1e97cd;
}

.post_last {
  text-align: right;
  padding: 0;
}

.category {
  border: solid thin #808080;
  padding: 5px;
  border-radius: 10px;
}

.category_tag{
  text-decoration: none;
  color: #808080;
}

.spring {
  background-color: #f7c8d1;
  color: #808080;
  text-decoration: none;
  padding: 5px 5px;
  margin: 5px;
  border-radius: 10px;
}

.summer {
  background-color: #75C3f0;
  color: #3d667d;
  text-decoration: none;
  padding: 5px 5px;
  margin: 5px;
  border-radius: 10px;
}

.autumn {
  background-color: #dcb000;
  color: #665200;
  padding: 5px 5px;
  margin: 5px;
  border-radius: 10px;
}

.winter {
  background-color:#dfdff0 ;
  color: #74747d;
  padding: 5px 5px;
  margin: 5px;
  border-radius: 10px;
}

.material-icons.edit-btn {
  font-size: 25px;
  color: gray;
}

.material-icons.delete-btn {
  font-size: 25px;
  color: gray;
}

/*post form*/
.post.row {
  background: url(asset-path('form.png')) center no-repeat;
  background-size: cover;
  padding-top: 50px;
  height: 880px;
  padding-bottom: 0;
}

.post_form_title {
  text-align: center;
}

/*post search*/
.post_search {
  padding: 30px 0;
}

.new_post {
  margin-left: 40px;
}

.form-control.content {
  width: 200px;
}

.form-control.choose_category {
  width: 150px;
  margin: 0 10px;
}

.form-control.choose_season {
  width: 120px;
  margin-right: 10px;
}

.approval_guide {
  border: solid white;
  padding: 50px;
  background-color: #DFDCD3;
  border-radius: 20px;
  text-align: center;
}