// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/*task form*/
.task.row{
  background: url(asset-path('form.png')) center no-repeat;
  background-size: cover;
  padding-top: 50px;
  height: 880px;
  padding-bottom: 0;
}

.form-control.expired_on {
  width: 150px;
}

.form-control.status {
  width: 100px;
}

.task_form_title {
  text-align: center;
}

.task-btn {
  margin: 20px 0;
}

/*showページ*/
.task_show.row{
  padding-top: 50px;
  height: 100%;
  padding-bottom: 60px;
}

.task_content {
  width: 60%;
  margin: 50px auto;
  text-align: center;
  border: solid #B3D0D7;
}

.task_dot {
  border-bottom: 2px dotted #B3D0D7;
}

.task_expired {
  margin-top: 10px;
  display: inline-block;
}
.task_title {
  display: inline-block;
  font-size: 30px;
}

.task_description {
  margin: 30px 0;
  font-size: 20px;
}

.create_user {
  text-align: right;
}

.task_back {
  margin: 10px;
}
