// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


/* devise*/
.devise {
  background: url(asset-path('form.png')) center no-repeat;
  background-size: cover;
  height: 880px;
  padding-top: 50px;
}

.form-group {
  width: 45%;
  margin: 0 auto;
}

.devise-btn {
  margin: 20px 0;
}

.devise_error {
  list-style: none;
}

.user_update{
  margin-top: 10px;
}
.user_edit {
  margin: 10px 0;
}

.user_delete {
  width: 100px;
  margin: 0 auto;
}

/*共通部分*/
.user_infomation {
  margin: 30px 20%;
  text-align: right;
}

.icon {
  border-radius: 100px;
  display: inline-block;
}

.profile_name {
  padding: 10px 0;
}

.post_last {
  text-align: right;
  padding: 0;
}

/*showページ*/
.mypage {
  width: 80%;
  margin: 0 auto;
}

.mypost_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, 410px);
  gap: 20px;
  margin: 30px auto;
}

.mypost_list {
  border: thick double #AFDFE4;
}

.post_name {
  text-align: right;
}

/*favoritesページ*/
.favoritespage {
  width: 80%;
  margin: 0 auto;
}

.favorites_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, 410px);
  gap: 20px;
  margin: 30px auto;
}

.favorites_list {
  border: thick double #AFDFE4;
}

.favorite_name {
  text-align: right;
}


